<!-- You were last at this section! 
https://seir-222-sasquatch.netlify.app/second-language/week-20/day-1/lecture-materials/django-urls-views-and-templates/#render-data-in-a-template:~:text=That%27s%20better!-,Render%20Data%20in%20a%20Template,-To%20see%20how -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dog Collector</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav class="blue darken-4">
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;Dog Collector</a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="/about">About</a></li>
            <li><a href="/dogs">View All My Dogs</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {% block content %} 
      {% endblock %}
    </main>
    <footer class="page-footer blue darken-4">
      <div class="footer-copyright">
        <div class="container center">© 2022 Dog Collector</div>
      </div>
    </footer>
  </body>
</html>
